<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="./assets/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description"
        content="We have great pleasure in informing you that Department of Information Technology, Sikkim Manipal Institute of Technology is organizing First International..." />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <!-- semantic-ui-link -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/4ca1a98fd1.js" crossorigin="anonymous"></script>
    <!-- google font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <title>Sikkim Manipal Institute of Technology – Sikkim Manipal University</title>

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Mycustom style sheet  -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/stylegallery.css">
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <!-- SMIT LOGO  -->
    <div class="container-fluid smit-logo">
        <img class="smit-logo-image" src="./assets/images/smit_logo_small1_png.png" alt="logo">
    </div>
    <!-- Navbar Section -->
    <div class="navbar navbar-expand-lg navbar-bg-custom navbar-dark sticky-top">
        <a class="navbar-brand" href="index.php">
            <img class="brand-logo" src="./assets/images/SMIT_Latest logo.jpg" alt="SMIT-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsiblenavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsiblenavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="KnowSMIT">KNOW SMIT</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/"> Ranking</a>
                        <a class="dropdown-item" href="/"> History</a>
                        <a class="dropdown-item" href="/"> Placement Record</a>
                        <a class="dropdown-item" href="/"> Overview</a>
                        <a class="dropdown-item" href="/"> Leadership</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="Programs">Programs</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/"> B.Tech Civil Engineering (CE)</a>
                        <a class="dropdown-item" href="/"> B.Tech Computer Science Engineering (CSE)</a>
                        <a class="dropdown-item" href="/"> B.Tech Electrical and Electronics Engineering (EEE)</a>
                        <a class="dropdown-item" href="/"> B.Tech Information Technology (IT)</a>
                        <a class="dropdown-item" href="/"> More</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="Departments">Departments</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#invite2"> B.Tech Information Technology (IT)</a>
                        <a class="dropdown-item" href="#invite3"> B.Tech Information Technology (IT)</a>
                        <a class="dropdown-item" href="#invite4"> B.Tech Information Technology (IT)</a>
                        <a class="dropdown-item" href="#invite5"> B.Tech Information Technology (IT)</a>
                        <a class="dropdown-item" href="#invite6"> B.Tech Information Technology (IT)</a>
                        <!-- <a class="dropdown-item" href="./SMIT-CCB-SPEAKER/other.html"> Others</a> -->
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="invited_talk">
                        Apply Now</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#key1"> UG Program</a>
                        <a class="dropdown-item" href="#key2"> PG Program</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="list">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index">Class Attribute</a>
                </li>
                <li class="nav-item">

                    <button type="button" class="btn btn-secondary">Login</button>

                </li>

            </ul>

        </div>
    </div>
    <section id="labnavigation">

    </section>
    <div class="container">
        <div class="alert alert-success alert-dismissible" id="myAlert">
            <button type="button" class="close">&times;</button>
            <strong>Lab 1</strong> Click me to load Lab 1 work! <br>
            <button type="button" class="btn btn-success" onclick="lab1()">WTWSLab-1</button>
        </div>
    </div>
    <div class="container">
        <div class="alert alert-success alert-dismissible" id="myAlert">
            <button type="button" class="close">&times;</button>
            <strong>Lab 2</strong> Click me to load Lab 2 work! <br>
            <button type="button" class="btn btn-success" onclick="lab2()">WTWSLab-2</button>
        </div>
    </div>
    <div class="container">
        <div class="alert alert-success alert-dismissible" id="myAlert">
            <button type="button" class="close">&times;</button>
            <strong>Lab 3</strong> Click me to load Lab 3 work! <br>
            <button type="button" class="btn btn-success" onclick="lab3()">WTWSLab-3</button>
        </div>
    </div>
    <div class="container">
        <div class="alert alert-success alert-dismissible" id="myAlert">
            <button type="button" class="close">&times;</button>
            <strong>Lab 4</strong> Click me to load Lab 4 work! <br>
            <button type="button" class="btn btn-success" onclick="lab4()">WTWSLab-4</button>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".close").click(function () {
                $("#myAlert").alert("close");
            });
        });
        function lab1() {
            window.open("https://distracted-liskov-780ee8.netlify.app/");
        }
        function lab2() {
            window.open("https://distracted-liskov-780ee8.netlify.app/test.html")
        }
        function lab4() {
            window.open("home");
        }
        function lab3() {
            window.open("list");
        }

    </script>
    <!-- IMAGE CAROUSEL -->
    <section id="carousel-image-section">
        <div class="container-fluid" data-aos="zoom-in">

            <div id="image" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="carousel-image" src="./assets/images/smit-4.jpg" alt="image2">
                    </div>
                    <div class="carousel-item">
                        <img class="carousel-image" src="./assets/images/smit-hostle1.jpg" alt="image1">
                    </div>
                    <div class="carousel-item">
                        <img class="carousel-image" src="./assets/images/smit-1.jpg" alt="image1">
                    </div>

                    <div class="carousel-item">
                        <img class="carousel-image" src="./assets/images/smit-6.jpg" alt="image3">
                    </div>
                </div>
                <ul class="carousel-indicators">
                    <li data-target="#image" data-slide-to="0" class="active"></li>
                    <li data-target="#image" data-slide-to="1"></li>
                    <li data-target="#image" data-slide-to="2"></li>
                    <li data-target="#image" data-slide-to="3"></li>
                </ul>
                <a class="carousel-control-prev" href="#image" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#image" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </section>