<%- include('partials/header'); -%>


    <div class="container">
        <div class="jumbotron">
            <h1>EEE</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quod nobis autem quibusdam
                dignissimos consequuntur tempore reiciendis, sint cumque laboriosam voluptate ex libero rem odit, aut
                ducimus amet voluptatem ipsa!</p>
        </div>
        <a href="list" class="btn btn-secondary">Back</a>
    </div>

<%- include('partials/header'); -%>
    <%- include('partials/footer'); -%>
