<%- include('partials/header'); -%>


    <section id="heading">
        <div class="card text-center">
            <div class="card-header" data-aos="fade-up">
                <h1 class="heading-big-content-h1">First International Conference</h1>
            </div>
            <div class="card-body" data-aos="fade-up">
                <h2 class="card-title heading-big-content-h3">on</h2>
                <h2 class="card-title heading-big-content-h3">Information and Communication Technology (ICICT) 2021</h2>
                <p class="card-text heading-big-content-h4">23-24 DECEMBER 2021</p> <br>
                <p class="card-text heading-big-content-h6">Organized By <br>
                    Department of Information Technology, SMIT
                </p><br>
                <hr id="ccb-link">
                <a class="heading-big-content-h5" href="https://icict.smtech.in">https://icict.smtech.in</a>
                </a>
            </div>
            <div class="card-footer text-muted" data-aos="fade-up">
                <a href="#" class="btn btn-primary" href="./docs/ccb_2020_baner.pdf">Download Brochure</a>
            </div>
        </div>
        <div id="heading-details" class="ui container">
            <h1 class="heading-details-heading" data-aos="flip-up">CONFERENCE DETAIL</h1>
            <article class="heading-details-content" data-aos="flip-up">
                Information and Communication Technology (ICT) has brought revolution to the society. In the past two
                decades,
                there has been tremendous technological growth in the area of Communication Technology and other areas
                of
                Information Technology. After 5G networks 6G network standards are going to arrive for which there are
                huge
                volume of research works going on across the globe. This international conference intends to cover all
                major
                areas of ICT. The conference shall provide a platform to share the latest research results in different
                areas of
                ICT. The conference shall facilitate in converging students, faculty members, researchers, engineers,
                practitioners, and interested persons into one stage where brilliant ideas are expected to be shared.
                The main
                tracks of the conference are <strong> Communication Networks, Internet of Things, Data Science,
                    Healthcare
                    Informatics,
                    Bio-medical Image Processing, Security of Information including Cryptography, Machine Learning
                    Applications,
                    and
                    Artificial Intelligence Applications.</strong> However, the scope of the conference is not limited
                and
                brilliant ideas
                in
                around ICT are welcomed.
            </article>
        </div>
    </section>
    <section id="about-us">
        <div class="container">
            <div class="row1-container" data-aos="zoom-in">
                <div class="box red">
                    <h2 class="about-heading">ABOUT SIKKIM </h2>
                    <p class="about-content">Sikkim is a landlocked hill station in the Himalayan terrain. The state
                        borders Nepal
                        to the East,
                        China's Tibet Autonomous Region to the North and East and Bhutan to the Southeast, while the
                        state
                        of West Bengal lies to the South. Sikkim was a British protectorate, before merging with Indian
                        union following a referendum in 1975. With around 7,00,000 populations as of 2017, it is the
                        least
                        populous state in the country. Sikkim is nonetheless geographically diverse due to its strategic
                        location in Himalayas; the climate ranges from subtropical to high alpine; and Kanchenjunga, the
                        world's third-highest peak, is located on Sikkim's border with Nepal. It proves itself to be a
                        tourism hotspot owing to its culture, natural scenery, hill beauty and biodiversity.</p>
                </div>
            </div>
            <div class="row2-container" data-aos="zoom-in">
                <div class="box orange">
                    <h2 class="about-heading">ABOUT SIKKIM MANIPAL UNIVERSITY (SMU)</h2>
                    <p class="about-content">Sikkim Manipal University (SMU) was established in 1995 via an Act of
                        Sikkim
                        Government
                        and is
                        recognized by UGC under section 2(f) of the UGC Act. SMU is a part of renowned Manipal Group
                        that
                        has made its mark in the field of education and health services in India and abroad. The
                        University
                        offers quality education to the aspirants around the globe and especially from North and North
                        Eastern part of India. It was set up with the aim of imparting exemplary educational
                        opportunities
                        and healthcare services in the state of Sikkim and its neighbouring region. SMU is a result of
                        the
                        collaboration of Government of Sikkim with Private Partner, Manipal Academy of Higher Education
                        (MAHE) in the form of PPP (Public Private Partnership).</p>
                </div>
            </div>
            <div class="row2-container" data-aos="zoom-in">
                <div class="box blue">
                    <h2 class="about-heading"> ABOUT SIKKIM MANIPAL INSTITUTE OF TECHNOLOGY (SMIT) </h2>
                    <p class="about-content">Sikkim Manipal Institute of Technology (SMIT) was established in 1997 as a
                        constituent
                        college of
                        Sikkim Manipal University (SMU) and is approved by AICTE. SMIT had the distinction of
                        prestigious
                        accreditation for engineering disciplines by National Board of Accreditation (NBA)/ACCR-860/06
                        dated
                        22 January 2008. SMIT has ISO 9001 certification vide AS/NZS ISO 9001:2008/ISO 9001:2008 for all
                        its
                        courses. SMIT is located at Majitar, near Rangpo, the border town of Sikkim with West Bengal.
                        The
                        institute’s location on the bank of river Teesta, surrounded by green hills, adds to colour and
                        vibrancy of the campus, making it an ideal place for learning. It is safe, secured and provides
                        an
                        excellent academic environment. SMIT offers courses in Engineering, Management and Basic
                        Sciences.
                        Academic excellence is imparted by 200 plus fulltime faculty members comprising of an erudite
                        mixture of Post Doctorates, Doctorates and Post Graduates. The research environment is dynamic
                        and
                        is supported through sponsored projects from different funding agencies in the country.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="maincommittee">
        <section id="organizing_committee" data-aos="fade-up">
            <div class="container">
                <table class="border border-dark shadow p-3 mb-5 bg-white rounded" id="COMMITTEE">
                    <tr>
                        <th>ORGANIZING COMMITTEE</th>
                    </tr>
                    <hr style="color: #fff;">
                    <tr>
                        <th>Patron</th>
                    </tr>
                    <tr>
                        <td>Lt. Gen. (Dr.) Rajan S Grewal, Hon'ble Vice Chancellor, Sikkim Manipal University, Gangtok,
                            Sikkim,
                            India</td>
                    </tr>
                    <tr>
                        <th>ORGANIZING COMMITTEE</th>
                    </tr>
                    <tr>
                        <td>Prof. (Dr.) Ashis Sharma, Director, SMIT, Sikkim, India</td>
                    </tr>
                    <tr>
                        <th>Conference AdviserE</th>
                    </tr>
                    <tr>
                        <td>Prof. (Dr.) Ajeya Jha, Associate Director (R&D), SMIT, Sikkim, India</td>
                    </tr>
                    <tr>
                        <th>Organizing ChairE</th>
                    </tr>
                    <tr>
                        <td>Prof. (Dr.) Hiren Kr. Dev Sarma, HoD, Department of Information Technology, SMIT</td>
                    </tr>

                </table>
            </div>
        </section>

        <section id="smit_organizing_committee" data-aos="fade-up">
            <div class="container">
                <table class="border border-dark shadow p-3 mb-5 bg-white rounded" id="COMMITTEE">
                    <tr>
                        <th>LOCAL ORGANIZING COMMITTEE</th>
                    </tr>
                    <tr>
                        <td>Ashis Datta, Assistant Professor, Department of IT, SMIT, Sikkim</td>
                    </tr>
                    <tr>
                        <td>Dr. Bhaskar Bhuyan, Associate Professor, Department of IT, SMIT, Sikkim</td>
                    </tr>
                    <tr>
                        <td>Chandralika Chakraborty, Associate Professor, Department of IT, SMIT, Sikkim</td>
                    </tr>
                    <tr>
                        <td>Chitrapriya Ningthoujam, Assistant Professor, Department of CSE, SMIT, Sikkim</td>
                    </tr>
                    <tr>
                        <td>Diganta Baruah, Associate Professor, Department of IT, SMIT, Sikkim</td>
                    </tr>
                    <tr>
                        <td>Dr. Md. Ruhul Islam, Associate Professor, Department of CSE, SMIT, Sikkim</td>
                    </tr>
                    <tr>
                        <td>Minakshi Roy, Assistant Professor, Department of CSE, SMIT, Sikkim</td>
                    </tr>
                    <tr>
                        <td>Prativa Rai, Associate Professor, Department of CSE, SMIT, Sikkim</td>
                    </tr>
                    <tr>
                        <td>Dr. Rustam Ali Ahmed, Assistant Professor, Department of IT, SMIT, Sikkim</td>
                    </tr>
                    <tr>
                        <td>Sonam Lamu Bhutia, Assistant Professor, Department of IT, SMIT, Sikkim</td>
                    </tr>
                    <tr>
                        <td>Panajy M, Assistant Professor, Department of IT, SMIT, Sikkim</td>
                    </tr>
                    <tr>
                        <td>Parashjyoti Bora, Assistant Professor, Department of CSE, SMIT, Sikkim</td>
                    </tr>
                    <tr>
                        <td>Tawal Kumar Koirala, Assistant Professor, Department of CSE, SMIT, Sikkim</td>
                    </tr>
                    <tr>
                        <td>Dr. Udayan Baruah, Associate Professor, Department of IT, SMIT, Sikkim</td>
                    </tr>
                    <tr>
                        <td>Naiwrita Borah, Assistant Professor, Department of IT, SMIT, Sikkim</td>
                    </tr>
                    <tr>
                        <td>Dr. Samarjeet Borah, Professor, Department of Computer Application, SMIT, Sikkim</td>
                    </tr>
                    <tr>
                        <td>Dr. O. P. Singh, Associate Professor, Department of Electronics and Communication
                            Engineering, SMIT,
                            Sikkim</td>
                    </tr>
                </table>
            </div>
        </section>
    </section>
    <!-- THEME SECTION -->
    <section id="Theme">
        <!-- <div class="row1-container" data-aos="zoom-in">
      <div class="box red">
        <h2>THEME</h2>
        <p>CCB is an event organized once in every two years. Each edition of CCB shall work around one specific theme.
        </p>
        <img src="./assets/images/icon-karma.svg" alt="">
      </div>
    </div> -->
        <div class="row2-container" data-aos="zoom-in">
            <div class="box orange">
                <h2>Theme of ICIT 2021:</h2>
                <p>"Communication Networks for Better Living".</p>
                <img src="./assets/images/icon-supervisor.svg" alt="">
            </div>
        </div>
        <div class="row2-container" data-aos="zoom-in">
            <div class="box blue">
                <h2>OBJECTIVE</h2>
                <p>ICICT-2021 aims at bringing academicians, researchers, engineers, practitioners and motivated
                    students under
                    one umbrella so that exchange of new ideas, recent developments, novel research results, and modern
                    practices
                    in communication, cloud computing, big data and related areas can take place. Healthy discussions,
                    relevant
                    information sharing, and sharing of experiences with novel technologies are expected to happen
                    during CCB
                    '2020.

                    CCB '2020 also aims at creating a common platform for motivated people through which research and
                    development
                    activities in the areas of communication, cloud computing, big data and relevant fields can
                    accelerate, so
                    that this platform becomes able to contribute towards the growth of the society as a whole..</p>
                <img src="./assets/images/icon-calculator.svg" alt="">
            </div>
        </div>
        <div class="row1-container" data-aos="zoom-in">
            <div class="box cyan">
                <h2>DOCUMENTATION & ARCHIVAL</h2>
                <p>The research papers to be presented during CCB'2020 are going to be published in the form of a book
                    with
                    ISBN, by SPRINGER in LNNS Series. The papers shall be made available to the world through web based
                    digital
                    archival system.

                    The discussions and recommendations of the eminent speakers shall be documented and also made
                    available in the
                    web through digital archival system.</p>
                <img src="./assets/images/icon-team-builder.svg" alt="">
            </div>
    </section>


    <!-- gallery section  -->

    <!-- call_for_paper -->
    <!-- paper submission data IMPORTANT DATES  -->
    <section id="submission" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
        <div class="container container-submission"
            style="border-top-style: solid;border-top-width: 0px;margin-top: 60px;">
            <div class="card">
                <div class="card-header">
                    IMPORTANT DATES*
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item colortext">Full Paper Submission: 26-09-2021</li>
                        <li class="list-group-item colortext1">Notification of Acceptance: 26-10-2021</li>
                        <li class="list-group-item colortext">Camera Ready Full Paper Submission for Accepted Papers:
                            10-12-2021
                        </li>
                        <li class="list-group-item colortext1">Registration Deadline: 30-11-2021</li>
                        <li class="list-group-item colortext">Conference: (23-24)-12-2021</li>
                        <li class="list-group-item colortext1">Papers may be submitted to [ <a
                                href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                data-cfemail="cfa7a6bdaaa1a4abbcaebda2ae8fa8a2aea6a3e1aca0a2">[email&#160;protected]</a>
                            ]
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- thrust_areas -->
    <section id="thrust_areas">
        <div class="container">
            <div class="heading">
                <h2>THRUST AREAS</h2>
            </div>
            <div class="alert alert-secondary" role="alert" style="text-align: center; font-size: 1.2rem;">
                The thrust areas of ICICT-2021 include the following (but not limited to):
            </div>
            <div id="accordion">
                <div class="card">
                    <div class="card-header thrust_areas_section" id="headingOne">
                        <h5 data-aos="zoom-out-right" class="mb-0 thrust_areas_section_heading">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Communication Networks
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body thrust_areas_section_text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quas laborum harum quisquam
                            accusamus culpa
                            cum modi
                            vitae praesentium. Tenetur dignissimos delectus quas molestias beatae, tempora perspiciatis
                            sit explicabo
                            commodi.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 data-aos="zoom-out-left" class="mb-0 thrust_areas_section_heading">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Internet of Things
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body thrust_areas_section_text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt aliquid qui libero minima
                            architecto
                            consequatur reprehenderit saepe quaerat! Odit laboriosam iure modi beatae voluptates aut vel
                            dolorum unde
                            nemo adipisci.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0 thrust_areas_section_heading">
                            <button data-aos="zoom-out-right" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Wireless Communication
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body thrust_areas_section_text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt aliquid qui libero minima
                            architecto
                            consequatur reprehenderit saepe quaerat! Odit laboriosam iure modi beatae voluptates aut vel
                            dolorum unde
                            nemo adipisci.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0 thrust_areas_section_heading">
                            <button data-aos="zoom-out-left" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Mobile Computing
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body thrust_areas_section_text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt aliquid qui libero minima
                            architecto
                            consequatur reprehenderit saepe quaerat! Odit laboriosam iure modi beatae voluptates aut vel
                            dolorum unde
                            nemo adipisci.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0 thrust_areas_section_heading">
                            <button data-aos="zoom-out-right" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Data Science
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body thrust_areas_section_text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt aliquid qui libero minima
                            architecto
                            consequatur reprehenderit saepe quaerat! Odit laboriosam iure modi beatae voluptates aut vel
                            dolorum unde
                            nemo adipisci.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h5 class="mb-0 thrust_areas_section_heading">
                            <button data-aos="zoom-out-left" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Healthcare Informatics
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body thrust_areas_section_text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt aliquid qui libero minima
                            architecto
                            consequatur reprehenderit saepe quaerat! Odit laboriosam iure modi beatae voluptates aut vel
                            dolorum unde
                            nemo adipisci.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingSeven">
                        <h5 class="mb-0 thrust_areas_section_heading">
                            <button data-aos="zoom-out-right" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Bio-medical Image Processing
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                        <div class="card-body thrust_areas_section_text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt aliquid qui libero minima
                            architecto
                            consequatur reprehenderit saepe quaerat! Odit laboriosam iure modi beatae voluptates aut vel
                            dolorum unde
                            nemo adipisci.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingEight">
                        <h5 class="mb-0 thrust_areas_section_heading">
                            <button data-aos="zoom-out-left" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                Security of Information including Cryptography
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                        <div class="card-body thrust_areas_section_text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt aliquid qui libero minima
                            architecto
                            consequatur reprehenderit saepe quaerat! Odit laboriosam iure modi beatae voluptates aut vel
                            dolorum unde
                            nemo adipisci.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingNine">
                        <h5 class="mb-0 thrust_areas_section_heading">
                            <button data-aos="zoom-out-right" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                Machine Learning Applications
                            </button>
                        </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                        <div class="card-body thrust_areas_section_text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt aliquid qui libero minima
                            architecto
                            consequatur reprehenderit saepe quaerat! Odit laboriosam iure modi beatae voluptates aut vel
                            dolorum unde
                            nemo adipisci.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTen">
                        <h5 class="mb-0 thrust_areas_section_heading">
                            <button data-aos="zoom-out-left" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                Artificial Intelligence Applications
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                        <div class="card-body thrust_areas_section_text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt aliquid qui libero minima
                            architecto
                            consequatur reprehenderit saepe quaerat! Odit laboriosam iure modi beatae voluptates aut vel
                            dolorum unde
                            nemo adipisci.
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <!-- Registration section  -->
    <section id="registration">
        <div class="container">
            <div class="heading">
                <h2>REGISTRATION</h2>
            </div>
            <div class="row">
                <div data-aos="zoom-out-right" class="col-lg-6 col-md-12 col-custom">
                    <div class="table-responsive">
                        <table class="table table-custom">
                            <thead class="table-custom-head">
                                <tr>
                                    <th>Per Paper</th>
                                    <th>From within India</th>
                                    <th>From Abroad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Researchers from Academic / Research Institution</td>
                                    <td>INR 5000.00</td>
                                    <td>USD 200</td>
                                </tr>
                                <tr>
                                    <td>Personnel from Industry / Corporate </td>
                                    <td>INR 8000.00</td>
                                    <td>USD 300</td>
                                </tr>
                                <tr>
                                    <td>Ph.D Student/ Student</td>
                                    <td>INR 3000.00</td>
                                    <td>USD 150</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div data-aos="zoom-out-left" class="col-lg-6 col-md-12 col-custom">
                    <div class="card card-bg-custom">
                        <div class="card-header header-bg-custom">
                            Non-AUTHOR PARTICIPANT REGISTRATION:
                        </div>
                        <div class="card-body body-bg-custom">
                            <ul class="list-group">
                                <li class="list-group-item list-custom">
                                    For STUDENT: INR 2000.00
                                </li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item list-custom">
                                    OTHERS: INR 2500.00
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div data-aos="fade-up" class="col-sm-12 col-custom">
                    <div class="card card-bg-custom">
                        <div class="card-header header-bg-custom">
                            EACH REGISTRATION AS CONFERENCE DELEGATE RECEIVES
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item list-custom">
                                    PUBLICATION OF ONE PAPER IN THE CONFERENCE PROCEEDINGS
                                </li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item list-custom">
                                    CONFERENCE KIT WITH CONFERENCE PROCEEDINGS
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- ONLINE TRANSFER SECTION -->
    <section id="register">
        <div id="registration_pay" class="container" data-aos="zoom-in" data-aos-duration="3000">
            <div class="row">
                <div data-aos="zoom-out-right" class="col-4 col-sm-6">
                    <div class="course-preview">
                        <h2 class="headingstyle">ONLINE TRANSFER</h2>
                        <h6 class="headingstyle">The appropriate amount may be transferred to the following bank account
                            in
                            the name of CCB 2021.</h6>
                        <a href="#">View all details <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div data-aos="zoom-out-left" data-aos-duration="3000" class="col-8 col-sm-6">
                    <div class="course-info">
                        <h6>Account Details</h6>
                        <hr>
                        <h5 class="bodycontent">A/c No- 1234 5678 9101 1123</h5>
                        <hr>
                        <h5 class="bodycontent">Bank Name- Union Bank of India</h5>
                        <hr>
                        <h5 class="bodycontent">Branch- Sikkim Manipal Institute of Technology</h5>
                        <hr>
                        <h5 class="bodycontent">IFSC - UBIN0558834</h5>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container" data-aos="fade-up">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <p>ON SPOT REGISTRATION BY PAYING CASH</p>
                    <hr style="border: 1px solid white;">
                    <p>Non-author participant registration can also be done at the Conference Venue, on 18 & 19 December
                        2020,
                        by paying the appropriate amount in CASH or through ONLINE TRANSFER. Such participants are
                        expected to
                        inform the organizers before the registration deadline (30 NOVEMBER 2020), by sending an email
                        to the
                        following email id:<a
                            href="/cdn-cgi/l/email-protection#6b0302190e05000f180a19060a2b0c060a020745080406">[<span
                                class="__cf_email__"
                                data-cfemail="fb9392899e95909f889a89969abb9c969a9297d5989496">[email&#160;protected]</span>]</a>
                    </p>
                </div>
            </div>
            <div style="margin: 10px 0 10px 0;" class="alert alert-warning" role="alert">
                [An email, attaching the scanned copy of the bank receipt / with details of the transaction, also
                mentioning
                NAME, CONTACT ADDRESS & PAPER ID (if AUTHOR only), may be sent to the following email id:
                <a href="/cdn-cgi/l/email-protection#7a1213081f14111e091b08171b3a1d171b131654191517">[<span
                        class="__cf_email__"
                        data-cfemail="0f67667d6a61646b7c6e7d626e4f68626e6663216c6062">[email&#160;protected]</span>]</a>

            </div>
        </div>

    </section>
    <!-- how_to_submit_paper -->
    <section id="how_to_submit_paper" data-aos="fade-up">
        <div class="container">
            <div class="heading">
                <h2>HOW TO SUBMIT PAPERS</h2>
            </div>
            <div class="text">
                Each paper should not exceed a maximum length of EIGHT PAGES (A4 Size) in single column format. <br>
                Each paper should have an abstract followed by maximum of 5 keywords. <br>
                PAPERS should be submitted, latest by the deadline, to any one of the following email addresses: <br>
                <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                    data-cfemail="771f1e0512191c130416051a1637101a161e1b5914181a">[email&#160;protected]</a>
                <p>
                    Or<br>
                    <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSfWNxvcRDh_H1ieB6XorE69jObWa_k9NfeN4uSiQ1Jj0t7oLg/viewform?usp=sf_link">Upload
                        Manuscript by Google-Form</a>
                </p>
            </div>
            <div>

            </div>
        </div>
    </section>
    <!-- about it department -->
    <section id="about-it" data-aos="fade-up">
        <div class="container">
            <div class="row1-container">
                <div class="box red">
                    <h2 class="about-heading">ABOUT THE DEPARTMENT OF INFORMATION TECHNOLOGY </h2>
                    <p class="about-content">Department of Information Technology started in the year 1999, offering
                        Bachelor of
                        Technology (B.Tech.)
                        programme in Information Technology. The department started offering Master of Technology
                        (M.Tech)
                        programme in Information Technology in the year 2001. At present, the department is also
                        offering B.Sc
                        (IT), M.Sc (IT), Diploma in e-Governance (DeG), and Doctoral (Ph.D.) programme in Information
                        Technology. <br> <br>
                        The department is equipped with six different laboratories named as Basic Computing Laboratory,
                        Data
                        Communication Laboratory, Soft Computing Laboratory, Artificial Intelligence Laboratory,
                        Distributed
                        Systems Laboratory, and RFID & Smart Card Laboratory.
                        Faculty members are active in different research areas like Networks, Distributed Computing,
                        Data
                        Mining, Image Processing, Pattern Recognition, Speech Processing, Robotics, Information
                        Security, VLSI,
                        RFID etc. <br> <br>
                        Passed out students are working in various corporate houses and government departments handling
                        responsible positions and spread across the globe. Some are established as entrepreneurs.
                        Students are
                        also successful in acquiring higher degrees in the fields of technology and management from
                        different
                        reputed Universities across the world. <br> <br>
                        Students are trained to cope up with today's competitive world. Along with academics students
                        are given
                        enough opportunities to take part in extra-curricular activities. The students of the department
                        organize several technical and cultural events spread throughout each academic year, under the
                        banner of
                        students' body FORUM 2K. Department of Information Technology offers a positive and inspiring
                        environment essential for education and research.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- organizer -->
    <section id="organizer" data-aos="fade-up">
        <div class="container organizer-fluid">
            <div class="row row-custom">
                <div class="col-lg-6 col-md-12 col-custom">
                    <div class="card card-bg-custom">
                        <div class="card-header header-custom">
                            PROCEEDINGS
                        </div>
                        <div class="card-body body-custom">
                            <ul class="list-group">
                                <li class="list-group-item list-custom">
                                    Proceedings of 3rd National Conference on CCB 2018 <br>
                                    <a href="https://www.springer.com/gp/book/9789811516238">
                                        https://www.springer.com/gp/book/9789811516238
                                    </a>
                                </li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item list-custom">
                                    Proceedings of 2nd National Conference on CCB 2016 <br>
                                    <a href="https://www.springer.com/gp/book/9789811089107">
                                        https://www.springer.com/gp/book/9789811089107
                                    </a>
                                </li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item list-custom">
                                    Proceedings of 1st National Conference on CCB 2014 <br>
                                    <a
                                        href="https://books.google.co.in/books?id=b9C2BgAAQBAJ&printsec=frontcover#v=onepage&q&f=false">
                                        https://books.google.co.in/books?id=b9C2BgAAQBAJ&printsec=frontcover#v=onepage&q&f=false
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12" data-aos="fade-up">
                    <div class="card card-bg-custom">
                        <div class="card-header header-custom">
                            ORGANIZER
                        </div>
                        <div class="card-body body-custom">
                            Department of Information Technology (IT), Sikkim Manipal Institute of Technology Majitar
                            organizes First International (Fourth National) Conference on Communication, Cloud, & Big
                            Data (CCB) 2020. Department receives intellectual support of renowned researchers across the
                            world in organizing CCB 2020.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="scripts/script.js"></script>

    <!-- contact -->
    <section id="contact" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="container-fluid">
            <h1 class="contact-heading"> CONTACT US</h1>
            <div class="row">
                <div class="col-md-6 col-custom">
                    <address>
                        <strong><em>Organizing Chair</em> <br>
                            Department of Information Technology </strong><br>
                        Sikkim Manipal Institute of Technology, Majitar <br>
                        East Sikkim, SIKKIM, INDIA, PIN 737136 <br>
                    </address>
                    <p class="contact-number">
                        Phone: +91-3592-2271771, 2271772, 3259266 <br>
                        Mobile: +91-9733316230 <br>
                        Fax: +91-3592-246112 <br>
                    </p>
                </div>
                <div class="col-md-6 col-custom" data-aos="zoom-in">
                    <a href="#index.html">
                        <img class="smit-image-logo" src="./assets/images/smit.jpg" alt="smit-logo">
                    </a>
                </div>
            </div>
            <h3 class="contact-footer">
                <a target="_black" href="https://icict.smtech.in">Website: https://icict.smtech.in <br></a>
                <br> <br>
                E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                    data-cfemail="b6dedfc4d3d8ddd2c5d7c4dbd7f6d1dbd7dfda98d5d9db">[email&#160;protected]</a> <br>
            </h3>
        </div>
    </section>

<%- include('partials/footer'); -%>