<%- include('partials/header'); -%>
    <div class="container">
        <div class="jumbotron">
            <h1></h1>
            <p>WEBPAGE UNDER MAINTENANCE!
            </p>
            <div class="alert alert-success">
                <strong>Web Page under Maintenance!</strong> You should check
                this<a href="https://www.linkedin.com/in/tushar-nayan-8a384a167/" target="_blank" class="alert-link">
                    Tushar Nayan
                    Profile</a>.
            </div>
        </div>
        <a href="list" class="btn btn-secondary">Back</a>
    </div>
    <%- include('partials/footer'); -%>