<%- include('partials/header'); -%>
    <div class="container">
        <div class="jumbotron">
            <h1>Calculator</h1>
        </div>
        <div class="container">
            <div class="alert alert-info">
                <h1><strong>MY Calculator!</strong> Using JavaScript</h1>.
            </div>

            <div class="row">
                <div class="col-md-8">
                    <form>
                        <div class="form-group">
                            <label for="num1">Number 1:</label>
                            <input type="text" class="form-control" id="firstNumber">
                        </div>
                        <div class="form-group">
                            <label for="num2">Number 2:</label>
                            <input type="text" class="form-control" id="secondNumber">
                        </div>
                        <input type="button" class="btn btn-outline-secondary" onClick="multiplyBy()"
                            Value="Multiply" />
                        <input type="button" class="btn btn-outline-primary" onClick="divideBy()" Value="Divide" />
                        <input type="button" class="btn btn-outline-secondary" onClick="AddBy()" Value="ADD" />
                        <input type="button" class="btn btn-outline-primary" onClick="SUBTRACTBy()" Value="SUBTRACT" />
                    </form>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-warning">
                        <p>The Result is : <br>
                            <span id="result"></span>
                        </p>
                    </button>

                </div>
            </div>
        </div>
        <div class="container" style="padding: 10px">
            <div class="alert alert-info">
                <h1><strong>JavaScript!</strong> getElementById() method</h1>.
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p id="changetext"> Click here to Change the Content,font and color. </p>
                    <button type="button" class="btn btn-outline-primary" onclick="makeChange()" name="button">Commit
                        Change
                    </button>
                    <button type="button" class="btn btn-outline-dark" onclick="defaultChange()"
                        name="button">Default</button>

                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-warning">
                        <p>Change Commited were : <br>
                            <span id="changesMade"></span>
                        </p>
                    </button>
                </div>
                <button type="button" class="btn btn-danger">Hello World</button>
            </div>
        </div>
        <script>
            function makeChange() {
                document.getElementById("changetext").style.color = "blue";
                document.getElementById("changetext").innerHTML = "I am Loving it!";
                document.getElementById("changetext").style.fontSize = "3rem";
                document.getElementById("changesMade").innerHTML = "Color: blue, fontSize: 3rem, innerHTML: Content Chnage"
            }
            function defaultChange() {
                document.getElementById("changetext").style.color = "black";
                document.getElementById("changetext").innerHTML = "Click here to Change the Content,font and color.";
                document.getElementById("changetext").style.fontSize = "1rem";
                document.getElementById("changesMade").innerHTML = "Color: black, fontSize: 1rem, innerHTML: Content Chnage"
            }
            var b = document.querySelector("button");
            b.setAttribute("name", "helloButton");
            b.setAttribute("disabled", "");

        </script>

        <div class="container" style="padding: 5%;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, sit voluptas. Ad temporibus repudiandae
                reiciendis repellat, officia itaque eaque at laborum molestias deserunt sit cum, vel praesentium. Aut,
                assumenda numquam!</p>
        </div>

    </div>
    <%- include('partials/footer'); -%>