<%- include('partials/header'); -%>
    </section id="list">
    <div class="jumbotron">
        <div class="alert alert-success">
            <strong>Unordered HTML List!</strong>Unordered HTML List The HTML ul tag defines an unordered (bulleted)
            list.
        </div>
        <div class="container">
            <ul>
                <li>B.Tech Information Technology <a target="_blank" href="it">(IT)</a></li>
                <li>B.Tech CSE <a target="_blank" href="cse">(CSE)</a></li>
                <li>B.Tech ME <a target="_blank" href="me">(ME)</a></li>
                <li>B.Tech ECE <a target="_blank" href="ece">(ECE)</a></li>
                <li>B.Tech EEE <a target="_blank" href="eee">(EEE)</a></li>
            </ul>
        </div>


        <div class="alert alert-success">
            <strong>Ordered HTML List!</strong>Ordered HTML List The HTML ol tag defines an unordered (bulleted) list.
        </div>
        <div class="container">
            <ol>
                <li>B.Tech Information Technology <a href="it">(IT)</a></li>
                <li>B.Tech CSE <a target="_blank" href="cse">(CSE)</a></li>
                <li>B.Tech ME <a target="_blank" href="me">(ME)</a></li>
                <li>B.Tech ECE <a target="_blank" href="ece">(ECE)</a></li>
                <li>B.Tech EEE <a target="_blank" href="eee">(EEE)</a></li>
            </ol>
        </div>

    </div>
    <div id="branch" class="container">
        <div class="it">
            <div class="card">
                <div class="card-body custom-body">
                    <h4 class="card-title custom-title">IT</h4>
                    <p class="card-text custom-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        quaerat animi
                        ipsum excepturi doloremque asperiores ratione soluta minima ducimus explicabo, voluptatum saepe
                        facilis assumenda obcaecati voluptas distinctio, earum repudiandae corrupti.</p>
                    <a target="_blank" href="it" class="card-link">IT</a>
                    <a target="_blank" href="it" class="card-link">B.tech</a>
                </div>
            </div>
        </div>
        <div class="cse">
            <div class="card">
                <div class="card-body custom-body">
                    <h4 class="card-title custom-title">CSE </h4>
                    <p class="card-text custom-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        quaerat animi
                        ipsum excepturi doloremque asperiores ratione soluta minima ducimus explicabo, voluptatum saepe
                        facilis assumenda obcaecati voluptas distinctio, earum repudiandae corrupti.</p>
                    <a target="_blank" href="cse" class="card-link">CSE</a>
                    <a target="_blank" href="cse" class="card-link">B.tech</a>
                </div>
            </div>
        </div>
        <div class="eee">
            <div class="card">
                <div class="card-body custom-body">
                    <h4 class="card-title custom-title">EEE</h4>
                    <p class="card-text custom-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        quaerat animi
                        ipsum excepturi doloremque asperiores ratione soluta minima ducimus explicabo, voluptatum saepe
                        facilis assumenda obcaecati voluptas distinctio, earum repudiandae corrupti.</p>
                    <a target="_blank" href="eee" class="card-link">EEE</a>
                    <a target="_blank" href="eee" class="card-link">B.tech</a>
                </div>
            </div>
        </div>
        <div class="me">
            <div class="card">
                <div class="card-body custom-body">
                    <h4 class="card-title custom-title">ME</h4>
                    <p class="card-text custom-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        quaerat animi
                        ipsum excepturi doloremque asperiores ratione soluta minima ducimus explicabo, voluptatum saepe
                        facilis assumenda obcaecati voluptas distinctio, earum repudiandae corrupti.</p>
                    <a target="_blank" href="me" class="card-link">ME</a>
                    <a target="_blank" href="me" class="card-link">B.tech</a>
                </div>
            </div>
        </div>

    </div>

    <section id="javascript-code">
        <div id="Jscode" class="container">
            <h1>JavaScript Code</h1>
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <p id="color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur laborum
                            neque
                            itaque quo quibusdam, rem amet illo sint, maiores praesentium odio animi exercitationem
                            ipsam,
                            soluta eaque delectus repudiandae voluptate eum..</p>
                    </div>
                </div>
                <div class="btn-group btn-group-lg">
                    <button class="btn btn-lg btn-danger" type="button" onclick="myFunctionRed()">Red</button>
                    <button class="btn btn-lg btn-dark" type="button" onclick="myFunctionBlack()">Black</button>
                    <button class="btn btn-lg btn-info" type="button" onclick="myFunctionBlue()">Blue</button>
                </div>
            </div>
    </section>
    <script>
        function myFunctionRed() {
            document.getElementById("color").style.fontSize = "25px";
            document.getElementById("color").style.height = "300px";
            document.getElementById("color").style.width = "800px";
            document.getElementById("color").style.color = "#52006A"
            document.getElementById("color").style.backgroundColor = "#CD113B";
        }
        function myFunctionBlack() {
            document.getElementById("color").style.fontSize = "25px";
            document.getElementById("color").style.height = "300px";
            document.getElementById("color").style.width = "800px";
            document.getElementById("color").style.color = "#fff"
            document.getElementById("color").style.backgroundColor = "#000";
        }
        function myFunctionBlue() {
            document.getElementById("color").style.fontSize = "25px";
            document.getElementById("color").style.height = "300px";
            document.getElementById("color").style.width = "800px";
            document.getElementById("color").style.color = "#fff"
            document.getElementById("color").style.backgroundColor = "#001E6C";
        }
    </script>
    <br>
    <br>
    <%- include('partials/footer'); -%>