<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="./assets/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description"
        content="We have great pleasure in informing you that Department of Information Technology, Sikkim Manipal Institute of Technology is organizing First International..." />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <!-- semantic-ui-link -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/4ca1a98fd1.js" crossorigin="anonymous"></script>
    <!-- google font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <title>Sikkim Manipal Institute of Technology – Sikkim Manipal University</title>

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Mycustom style sheet  -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/stylegallery.css">
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <!-- SMIT LOGO  -->
    <div class="container-fluid smit-logo">
        <img class="smit-logo-image" src="./assets/images/smit_logo_small1_png.png" alt="logo">
    </div>
    <!-- Navbar Section -->
    <div class="navbar navbar-expand-lg navbar-bg-custom navbar-dark sticky-top">
        <a class="navbar-brand" href="index.php">
            <img class="brand-logo" src="./assets/images/SMIT_Latest logo.jpg" alt="SMIT-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsiblenavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsiblenavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="KnowSMIT">KNOW SMIT</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/"> Ranking</a>
                        <a class="dropdown-item" href="/"> History</a>
                        <a class="dropdown-item" href="/"> Placement Record</a>
                        <a class="dropdown-item" href="/"> Overview</a>
                        <a class="dropdown-item" href="/"> Leadership</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="Programs">Programs</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/"> B.Tech Civil Engineering (CE)</a>
                        <a class="dropdown-item" href="cse"> B.Tech Computer Science Engineering (CSE)</a>
                        <a class="dropdown-item" href="eee"> B.Tech Electrical and Electronics Engineering (EEE)</a>
                        <a class="dropdown-item" href="it"> B.Tech Information Technology (IT)</a>
                        <a class="dropdown-item" href="/"> More</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="Departments">Departments</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#invite2"> B.Tech Information Technology (IT)</a>
                        <a class="dropdown-item" href="#invite3"> B.Tech Information Technology (IT)</a>
                        <a class="dropdown-item" href="#invite4"> B.Tech Information Technology (IT)</a>
                        <a class="dropdown-item" href="#invite5"> B.Tech Information Technology (IT)</a>
                        <a class="dropdown-item" href="#invite6"> B.Tech Information Technology (IT)</a>
                        <!-- <a class="dropdown-item" href="./SMIT-CCB-SPEAKER/other.html"> Others</a> -->
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="invited_talk">
                        Apply Now</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#key1"> UG Program</a>
                        <a class="dropdown-item" href="#key2"> PG Program</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="list">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index">Class Attribute</a>
                </li>
                <li class="nav-item">

                    <button type="button" class="btn btn-secondary">Login</button>

                </li>

            </ul>

        </div>
    </div>
    <div class="container">
        <div class="alert alert-success alert-dismissible" id="myAlert">
            <button type="button" class="close">&times;</button>
            <strong>Lab 1</strong> Click me to load Lab 1 work! <br>
            <button class="btn btn-success" onclick="lab1()">WTWSLab-1</button>
        </div>
    </div>
    <div class="container">
        <div class="alert alert-success alert-dismissible" id="myAlert">
            <button type="button" class="close">&times;</button>
            <strong>Lab 2</strong> Click me to load Lab 2 work! <br>
            <button class="btn btn-success" onclick="lab2()">WTWSLab-2</button>
        </div>
    </div>
    <div class="container">
        <div class="alert alert-success alert-dismissible" id="myAlert">
            <button type="button" class="close">&times;</button>
            <strong>Lab 3</strong> Click me to load Lab 3 work! <br>
            <button type="button" class="btn btn-success" onclick="lab3()">WTWSLab-3</button>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".close").click(function () {
                $("#myAlert").alert("close");
            });
        });

        function lab1() {
            window.open("https://distracted-liskov-780ee8.netlify.app/");
        }
        function lab2() {
            window.open("https://distracted-liskov-780ee8.netlify.app/test.html")
        }
        function lab3() {
            window.open("list");
        }
    </script>
    <!-- IMAGE CAROUSEL -->
    <section id="carousel-image-section">
        <div class="container-fluid" data-aos="zoom-in">

            <div id="image" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="carousel-image" src="./assets/images/smit-4.jpg" alt="image2">
                    </div>
                    <div class="carousel-item">
                        <img class="carousel-image" src="./assets/images/smit-hostle1.jpg" alt="image1">
                    </div>
                    <div class="carousel-item">
                        <img class="carousel-image" src="./assets/images/smit-1.jpg" alt="image1">
                    </div>

                    <div class="carousel-item">
                        <img class="carousel-image" src="./assets/images/smit-6.jpg" alt="image3">
                    </div>
                </div>
                <ul class="carousel-indicators">
                    <li data-target="#image" data-slide-to="0" class="active"></li>
                    <li data-target="#image" data-slide-to="1"></li>
                    <li data-target="#image" data-slide-to="2"></li>
                    <li data-target="#image" data-slide-to="3"></li>
                </ul>
                <a class="carousel-control-prev" href="#image" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#image" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </section id="list">
    <div class="jumbotron">
        <div class="alert alert-success">
            <strong>Unordered HTML List!</strong>Unordered HTML List The HTML ul tag defines an unordered (bulleted)
            list.
        </div>
        <div class="container">
            <ul>
                <li>B.Tech Information Technology <a target="_blank" href="it">(IT)</a></li>
                <li>B.Tech CSE <a target="_blank" href="cse">(CSE)</a></li>
                <li>B.Tech ME <a target="_blank" href="me">(ME)</a></li>
                <li>B.Tech ECE <a target="_blank" href="ece">(ECE)</a></li>
                <li>B.Tech EEE <a target="_blank" href="eee">(EEE)</a></li>
            </ul>
        </div>


        <div class="alert alert-success">
            <strong>Ordered HTML List!</strong>Ordered HTML List The HTML ol tag defines an unordered (bulleted) list.
        </div>
        <div class="container">
            <ol>
                <li>B.Tech Information Technology <a href="it">(IT)</a></li>
                <li>B.Tech CSE <a target="_blank" href="cse">(CSE)</a></li>
                <li>B.Tech ME <a target="_blank" href="me">(ME)</a></li>
                <li>B.Tech ECE <a target="_blank" href="ece">(ECE)</a></li>
                <li>B.Tech EEE <a target="_blank" href="eee">(EEE)</a></li>
            </ol>
        </div>

    </div>
    <div id="branch" class="container">
        <div class="it">
            <div class="card">
                <div class="card-body custom-body">
                    <h4 class="card-title custom-title">IT</h4>
                    <p class="card-text custom-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        quaerat animi
                        ipsum excepturi doloremque asperiores ratione soluta minima ducimus explicabo, voluptatum saepe
                        facilis assumenda obcaecati voluptas distinctio, earum repudiandae corrupti.</p>
                    <a target="_blank" href="it" class="card-link">IT</a>
                    <a target="_blank" href="it" class="card-link">B.tech</a>
                </div>
            </div>
        </div>
        <div class="cse">
            <div class="card">
                <div class="card-body custom-body">
                    <h4 class="card-title custom-title">CSE </h4>
                    <p class="card-text custom-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        quaerat animi
                        ipsum excepturi doloremque asperiores ratione soluta minima ducimus explicabo, voluptatum saepe
                        facilis assumenda obcaecati voluptas distinctio, earum repudiandae corrupti.</p>
                    <a target="_blank" href="cse" class="card-link">CSE</a>
                    <a target="_blank" href="cse" class="card-link">B.tech</a>
                </div>
            </div>
        </div>
        <div class="eee">
            <div class="card">
                <div class="card-body custom-body">
                    <h4 class="card-title custom-title">EEE</h4>
                    <p class="card-text custom-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        quaerat animi
                        ipsum excepturi doloremque asperiores ratione soluta minima ducimus explicabo, voluptatum saepe
                        facilis assumenda obcaecati voluptas distinctio, earum repudiandae corrupti.</p>
                    <a target="_blank" href="eee" class="card-link">EEE</a>
                    <a target="_blank" href="eee" class="card-link">B.tech</a>
                </div>
            </div>
        </div>
        <div class="me">
            <div class="card">
                <div class="card-body custom-body">
                    <h4 class="card-title custom-title">ME</h4>
                    <p class="card-text custom-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        quaerat animi
                        ipsum excepturi doloremque asperiores ratione soluta minima ducimus explicabo, voluptatum saepe
                        facilis assumenda obcaecati voluptas distinctio, earum repudiandae corrupti.</p>
                    <a target="_blank" href="me" class="card-link">ME</a>
                    <a target="_blank" href="me" class="card-link">B.tech</a>
                </div>
            </div>
        </div>

    </div>

    <section id="javascript-code">
        <div id="Jscode" class="container">
            <h1>JavaScript Code</h1>
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <p id="color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur laborum
                            neque
                            itaque quo quibusdam, rem amet illo sint, maiores praesentium odio animi exercitationem
                            ipsam,
                            soluta eaque delectus repudiandae voluptate eum..</p>
                    </div>
                </div>
                <div class="btn-group btn-group-lg">
                    <button class="btn btn-lg btn-danger" type="button" onclick="myFunctionRed()">Red</button>
                    <button class="btn btn-lg btn-dark" type="button" onclick="myFunctionBlack()">Black</button>
                    <button class="btn btn-lg btn-info" type="button" onclick="myFunctionBlue()">Blue</button>
                </div>
            </div>
    </section>
    <script>
        function myFunctionRed() {
            document.getElementById("color").style.fontSize = "25px";
            document.getElementById("color").style.height = "300px";
            document.getElementById("color").style.width = "800px";
            document.getElementById("color").style.color = "#52006A"
            document.getElementById("color").style.backgroundColor = "#CD113B";
        }
        function myFunctionBlack() {
            document.getElementById("color").style.fontSize = "25px";
            document.getElementById("color").style.height = "300px";
            document.getElementById("color").style.width = "800px";
            document.getElementById("color").style.color = "#fff"
            document.getElementById("color").style.backgroundColor = "#000";
        }
        function myFunctionBlue() {
            document.getElementById("color").style.fontSize = "25px";
            document.getElementById("color").style.height = "300px";
            document.getElementById("color").style.width = "800px";
            document.getElementById("color").style.color = "#fff"
            document.getElementById("color").style.backgroundColor = "#001E6C";
        }
    </script>
    <br>
    <br>
    <footer>
        <div class="copyright" data-aos="fade-up">
            <p> Designed and Developed by <a target="_black" href="https://github.com/tusharnayan10">Tushar Nayan</a> ©
                2021.
            </p>
        </div>
    </footer>

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/counterup/counterup.min.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/superfish/superfish.min.js"></script>
    <script src="assets/vendor/hoverIntent/hoverIntent.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
</body>
<script>
    $('.alert').alert();
</script>
<script src="./assets/js/main.js"></script>

</html>